*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.task-bar{
    height: 4em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 8em;
    margin-left: 10em;
    margin-top: 4.1em;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin-left: 6em;
}
nav ul li a{
     text-decoration: none;
     color: rgb(252, 104, 19);
     padding: 1.6em;
     font-size: 1em;
     font-family: "Anton", sans-serif;
     text-transform: uppercase;
     letter-spacing: 1.4px;
     transition: .2s ease-in;
     text-shadow: 0px 2px 6px rgb(182, 179, 179);
}
nav ul li a:hover{
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
nav ul li a:active{
    color: rgb(252, 131, 19);
}
.main-content{
    height: calc(100vh - 4em);
    width: 100%;
    background: linear-gradient(90deg, hsla(29, 92%, 70%, 1) 0%, rgb(241, 149, 113) 100%);
}
footer{
    height: 7em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

footer nav{
    padding-right: 6em;
}
.copyright{
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
}
.search-bar{
    position: relative;
    padding-right: 8em;
}
.search-bar input{
    width: 20em;
    border-radius: 25px;
    padding: .5em;
    border: 1px solid rgb(245, 113, 51);
    padding-left: 2.8em;
    outline: none;
}
.fa-magnifying-glass{
    position: absolute;
    z-index: 1002;
    top: 0.5em;
    left: .5em;
    color: rgb(228, 102, 57);
}
.fake-ad-container{
    height: 16em;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fake-ad{
    height: 10em;
    width: 40em;
    background-color: white;
    position: relative;
}

.fake-ad img{
    height: 10em;
    width: 40em;
}
.ad-black{
    position: absolute;
    top: 1.8em;
    left: 2.2em;
    font-size: 2.2em;
    color: white;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    animation: ad-black 3s ease-in-out infinite;
}
.ad-off{
    position: absolute;
    top: 0.15em;
    left: 2.55em;
    font-size: 3em;
    color: rgb(255, 62, 28);
    font-family: "Anton", sans-serif;
    display: inline-block; 
    animation: ad-off 4s ease-in-out infinite;
}
.ad-entire{
    position: absolute;
    top: 5.9em;
    left: 7.6em;
    font-size: 1.2em;
    font-family: Poppins;
    background: linear-gradient(90deg, rgb(248, 87, 38), rgb(250, 73, 19), rgb(252, 18, 49)) -100%/ 200%;
    padding: .2em 1em;
}
.ad-entire a{
    text-decoration: none;
    color: white;
}
@keyframes ad-black{
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-2deg); } 
  50%  { transform: rotate(2deg); } 
  75%  { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes ad-off {
  0%   { transform: translateX(10px); }
  25%  { transform: translateX(-10px); }
  50%  { transform: translateX(10px); }
  75%  { transform: translateX(-10px); }
  100% { transform: translateX(10px); }
}

.count-words{
    color: black;
}
.side-container{
    display: flex;
}
.home-left{
    height: 36.9em;
    width: 50%;
    margin-top: 2em;
    margin-left: 3em;
}
.home-right{
    height: 36.9em;
    width: 50%;
}
.home-img{
    height: 46em;
    margin-left: 10em;
    padding-bottom: 10em;
}
.home-header{
    font-family: "Anton", sans-serif;
    font-size: 6em;
    line-height: 1.4em;
    color: white;
    margin-left: 1.6em;
    text-shadow: 0px 2px 6px black;
}
.home-desc{
    font-size: 1.6em;
    font-family: Roboto;
    color: white;
    margin-top: 1em;
    margin-left: 6em;
    text-shadow: 0px 2px 3px rgb(39, 39, 39);
}
.home-shopbtn{
    font-size: 1.4em;
    background-color: rgb(255, 62, 28);
    padding: .4em 1.5em;
    margin-left: 6.9em;
    font-family: Roboto;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 1.6em;
    transition: .2s ease-in;
    text-shadow: 0px 2px 6px black;
    box-shadow: 0px 2px 6px black;
}
.home-shopbtn:hover{
    background-color: rgb(185, 49, 25);
}
.home-shopbtn:active{
    background-color: rgb(255, 62, 28);
}
.ryug{
    font-family: "Anton", sans-serif;
    color: black;
}

.play-btn {
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}