*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.task-bar{
    height: 4em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 8em;
    margin-left: 10em;
    margin-top: 4.1em;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin-left: 6em;
}
nav ul li a{
     text-decoration: none;
     color: rgb(252, 104, 19);
     padding: 1.6em;
     font-size: 1em;
     font-family: "Anton", sans-serif;
     text-transform: uppercase;
     letter-spacing: 1.4px;
     transition: .2s ease-in;
     text-shadow: 0px 2px 6px rgb(182, 179, 179);
}
nav ul li a:hover{
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
nav ul li a:active{
    color: rgb(252, 131, 19);
}
.main-content{
    height: calc(100vh - 4em);
    width: 100%;
    background: linear-gradient(90deg, hsla(29, 92%, 70%, 1) 0%, rgb(241, 149, 113) 100%);
}
footer{
    height: 7em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

footer nav{
    padding-right: 6em;
    
}
.copyright{
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
}
.search-bar{
    position: relative;
    padding-right: 8em;
}
.search-bar input{
    width: 20em;
    border-radius: 25px;
    padding: .5em;
    border: 1px solid rgb(245, 113, 51);
    padding-left: 2.8em;
    outline: none;
}
.fa-magnifying-glass{
    position: absolute;
    z-index: 1002;
    top: 0.5em;
    left: .5em;
    color: rgb(228, 102, 57);
}
.fake-ad-container{
    height: 14em;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.fake-ad{
    height: 10em;
    width: 40em;
    background-color: white;
    position: relative;
}

.fake-ad .flash-gif{
    height: 10em;
    width: 40em;
}
.count-words{
    color: black;
}
.flash{
    position: absolute;
    color: rgb(247, 49, 15);
    top: 0.2em;
    left: 2.0em;
    font-size: 4.2em;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgb(6, 152, 236);
}
.deal{
    position: absolute;
    color: rgb(247, 49, 15);
    top: 0.2em;
    left: 5.3em;
    font-size: 4.2em;
    font-family: "Anton", sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgb(6, 152, 236);
}
.ad-desc{
    position: absolute;
    top: 7em;
    left: 7.5em;
    font-family: Poppins;
    background-color: rgb(247, 49, 15);
    padding: 0em 1em;
    border-radius: 25px;
    color: white;
    box-shadow: 0px 0px 20px rgb(6, 152, 236);
}
.flash-icon{
    position: absolute;
    top: 1em;
    right: 16.6em;
    height: 7em;
    
}
.code{
    color: #fff;
    text-shadow: 0 0 10px rgb(0, 183, 255), 0 0 20px rgb(0, 183, 255);
    animation: glow .3s infinite alternate;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 3px rgb(0, 183, 255), 0 0 3px rgb(0, 183, 255);
  }
  50% {
    text-shadow: 0 0 5px rgb(0, 183, 255), 0 0 10px rgb(0, 183, 255);
  }
  100% {
    text-shadow: 0 0 10px rgb(0, 183, 255), 0 0 20px rgb(0, 183, 255);
  }
}



.product-table {
  width: 54%;
  border-collapse: collapse;
  text-align: center;
  margin: 2em auto;
  font-family: Roboto;
}

.product-table td {
  padding: 0em 0em 2em;
  
}
.product-table p{
    padding-bottom: .2em;
}
.product-table img {
  height: 12em;
  width: 12em;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: rgb(241, 131, 80);
}

.price {
  margin-top: .6em;
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
